	<section id="fh5co-about" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.features.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.features.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.features.item }}
				<div class="col-md-4">
					<div class="fh5co-person text-center to-animate">
						<h3>{{ .name }}</h3>
						<span class = "fh5co-position">{{ .position | markdownify }}</span>
					    <p>{{ .description  }}</p>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
	</section>
