	<!-- <section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5"> -->
		<!-- <div class="gradient"></div> -->

		<section id="fh5co-home" data-section="home" style="background: linear-gradient(90deg, rgba(17,95,163,1) 41%, rgba(154,181,203,1) 100%, rgba(190,211,228,1) 100%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%, rgba(53,53,92,1) 100%);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>